#center{
    align-items: auto;
    width:150px;
    height:150px;
}

body{
    background-color:#FF7256;
    font-family: sans-serif;
}

.card{
    box-shadow: #ccc;
    background-color: #FF7256;
    padding: 30px;
    border-radius: 5px;

}

.form {
    width: 400px;
    margin: auto;
}

.card-top{
    text-align: center;
}

.imglogin{
    border-radius: 50px;
    width: 50px;
    box-shadow: 0px 0px 5px #ccc;
}

